:root {
  --primarycolor: hsl(26, 93%, 50%);
  --Hovercolor: hsl(26, 90%, 42%);
  --whitecolor: hsl(0, 0%,100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textcolor: hsl(240, 1%, 48%);
  --whitecolorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greytext: rgb(190, 190, 190);
  --inputcolor: hsl(330, 12%, 97%);
  --bodyColor: rgb(240, 240, 246);
  --cardBg: rgb(225, 225, 235);
}

.main {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;

  padding-top: 60px;
}
.scIntro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.scIntro .secTte {
  color: var(--blackcolor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}

.scIntro p {
  font-size: 13px;
  color: var(--textcolor);
  font-weight: 500;
}
.continents {
  position: relative;
  gap: 1.5rem;
}
 .singlefr {
  height: 100%;
  display: grid;
  padding: 0.5rem;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
 .singlefr:hover {
  background: var(--cardBG);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.imageDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;
  }
}
 
 img:hover {
  transform: scale(1.1);
}
.cardInfo {
  padding: 1rem;
}
.destTitle {
  color: var(--blackcolor);
  font-size: 1, 25rem;
}
 .continent {
  gap: 0.5rem;
}
.icon {
  color: var(--textcolor);
  font-size: 18px;
}
.name {
  color: var(--textcolor);
  font-weight: 400;
  font-size: 14px;
}
.fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greytext);
  border-bottom: 1.5px solid var(--greytext);
}
.grade {
  color: var(--textcolor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 small {
  text-align: center;
  background: var(--textcolor);
  border-radius: 1.1rem;
  color: var(--whitecolor);
  padding: 1px 10px;
  font-size: 10px;
}
 .price {
  font-size: 2rem;
  color: var(--blackcolor);
}
.desc {
  font-size: 13.5px;
  color: var(--textcolor);
  font-weight: 500;
}
 .btn {
  margin-top: 1rem;
  background: var(--primarycolor);
  color: var(--whitecolor);
  font-weight: 600;
  justify-content: center;
  gap: 2rem;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title font-size::after {
    width: 155px ;

  }
  .continents {
    grid-template-columns: repeat(2, 1fr);
  }
  .singlefr {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .continents {
    grid-template-columns: repeat(3, 1fr);
  }
  .singlefr {
    height: auto;
  }
}